/** Generic CSS such as colors **/
.text-is-white{
  color: white;
}

.text-is-center{
  text-align: center;
}
.text-is-left{
  text-align: left;
}

.text-is-blue{
  color: #4173c1;
}

.text-has-weight{
  font-weight: 500;
}


.section-title-content{
  text-align: center;
  position: relative;
}

/** Deals with Header and Navbar **/
.section-is-top{
  background-image: url('images/view.jpg');
	background-size: cover;
  position: relative;
  min-height: 100%;
}

.head-content{
  margin-top: 18%;
}

hr{
  max-width: 50%;
  margin-left: 25%;
  margin-right: 25%;
}

@media (min-width:768px) {
  .head-content{
    margin-top: 8%;
  }
}

@media (min-width:768px) {
  .has-no-background{
    background-color: transparent;
  }
}


/** Deals with style of sections **/
.section-content{
}

.small-div{
  max-width: 10%;
  margin-left: 45%;
  margin-right: 45%;
  background-color: black;
}

.about-section {
  background-color: #044f70;
  color: white;
  background-size: cover;
  background-position: center;
  min-height: 100%;
}

@media (min-width:992px) {
  .about-section{
      min-height: 75%;
  }
}


.writing-section{
  /**background-image: url("images/blueparchment.jpg");**/
  background-color: #013f49;
  color: white;
  background-size: cover;
  background-position: center;
  min-height: 50%;
}

.project-section{
  min-height: 50%;
}

.project-one{
  background-image: url("images/whitewood.jpg");
  background-size: cover;
}

.project-two{
  background-image: url("images/graph.png");
  background-size: cover;
  background-position: center;
}


/**CSS changes for nav bar **/
.is-fixed-top.scrolled {
  background-color: white !important;
  transition: background-color 1000ms linear;
}

.headingText.scrolled {
  color: blue !important;
  font-family: Arial;
  transition: color 1000ms linear;
}


/**Deals with bio and profile photo **/
.is-bio{
  font-size: 23px;
  text-align: justify;
}

.profile-photo{
  /**transform: rotate(270deg);**/
  display: block;
  position: relative;
  height: 256px;
  width: 256px;
}

@media (max-width:768px){
  .profile-photo{
    display: none;
  }
}

@media (max-width:768px) {
  .about-section{
      min-height: 50%;
  }
}

/** Needed to Display photo on mobile
/**@media (max-width:768px) {
  .has-photo-in-center{
    padding-left: 45%;
  }
} **/

/** CSS for the Essays page **/
.section-contains-essays{
  background-image: url(images/yellow_parchment_paper.jpg);
  text-align: center;
  min-height: 100%;
}
